#banner {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 00px;
    height: 1000px;

    font-family: Garamond, serif;
    background-position: center;
    background-size:cover;
    color: black;
    font-style:normal;
    background-image: url(https://images.pexels.com/photos/10613996/pexels-photo-10613996.jpeg?cs=srgb&dl=pexels-khaled-akacha-10613996.jpg&fm=jpg);
}

h1{
    font-family: Georgia, 'Times New Roman', Times,serif;
    text-align:center;
}


